@import '../../styles/theme.scss';

.cardContainer {
    width: 100%;
    height: 500px;
    color: $black-text;
    background-color: #f7f7f7;
    box-shadow: 0px 10px 15px -3px rgba(157, 58, 133, 0.3);
    position: relative;
    border-radius: 10px;
    overflow: hidden;
	-webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;;

    &:hover {
        .buyButton {
            padding: 15px 0px 10px 0px;
            background-color: $themePrimary;
        }
        .nftImage {
            transform: scale(1.1);
        }
        .editButton {
            padding: 15px 0px 10px 0px;
            background-color: $themePrimary;
        }
    }
}

.imgContainer {
    height: 250px;
    position: relative;
    overflow: hidden;
}

.nftImage {
    height: 250px;
    object-fit: contain;
    transition: all 300ms;
}

.infoContainer {
    margin: 10px;
    height: 180px;
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    overflow: hidden;
    line-break: anywhere;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    word-break: break-all;
    white-space: pre-wrap;
    text-overflow: ellipsis;
}

.currentOwner {
    font-weight: 600;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.descriptionContainer {
    margin-bottom: 5px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.costContainer {
    font-weight: 600;
}

.buyButton {
    cursor: pointer;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: 600;
    width: 100%;
    padding: 10px 0px;
    background-color: $themePrimary--light--1;
    border-radius: 0px 0px 10px 10px;
    transition: all 300ms;
}

.editButton {
    cursor: pointer;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: 600;
    width: 100%;
    padding: 10px 0px;
    background-color: $themePrimary--light--1;
    border-radius: 0px 0px 10px 10px;
    transition: all 300ms;
}

.imgContainerModal {
    height: 250px;
    overflow: hidden;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    position: relative;
}

.changePriceInput {
    margin-top: 10px;
}

.privatizeInput {
    margin-top: 10px;
}

.loginBefore {
    margin: 0px 5px;
}

/**
 * ----------------------------------------
 * animation slide-top
 * ----------------------------------------
 */
 @-webkit-keyframes slide-top {
    0% {
      -webkit-transform: translateY(100px);
              transform: translateY(100px);
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  @keyframes slide-top {
    0% {
      -webkit-transform: translateY(100px);
              transform: translateY(100px);
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }