@import '../../styles/theme.scss';

.mailingListSection {
    margin: 50px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.title {
    width: 100%;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
}

.callToAction {
    font-size: 28px;
    margin-bottom: 20px;
}

.emailTextareaContainer {
    position: relative;
    width: 60%;
    margin: 0 auto 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputEmail {
    
}

.buttonEmail {
    width: 100%;
}

.legalDisclaimer {
    width: 60%;
    text-align: center;
}

.checkBoxContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox {
    margin-right: 10px;
}

.congratsMessagge {
    font-size: 40px;
    font-weight: 600;
}