$black: #121212 !default;
$white: #ffffff;
$themePrimary: #820263;
$themeSecondary: #D90368;
$themeTertiary: #F75C03;
$themeQuaternary: #04A777;
$themeQuinary: #291720;

$themePrimary--light--1: #8f1e74;
$themePrimary--light--2: #9d3a85;
$themePrimary--light--3: #ab5697;
$themePrimary--light--4: #b972a8;

$black-text: #333333;