@import '../../styles/theme.scss';

.gridContainer {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 4fr;
    column-gap: 30px;
    justify-content: space-between;
    align-items: flex-start;
}

.filtersContainer {
    margin-top: 100px;
    margin-left: 20px;
}

.titleFilter {
    color: $black-text;
    font-size: 20px;
    font-weight: 600;
}

.priceFilter {
    margin: 10px 0px;
}

.priceLabel {
    margin: 20px 0px 5px 0px;
    color: $black-text;
    font-size: 16px;
}

.yearFilter {
    margin: 10px 0px;
}

.yearLabel {
    margin: 20px 0px 5px 0px;
    color: $black-text;
    font-size: 16px;
}

.yearInput {
    border: 1px solid $themePrimary!important;
    color: $themePrimary!important;
}

.sortingControl {
    margin: 20px 0px 5px 0px;
    color: $black-text;
    font-size: 16px;
}

.sortContainer {
    margin-bottom: 15px;
}

.sortInput {
    border: 1px solid $themePrimary!important;
    color: $themePrimary!important;
}

.wineryFilter {
    margin: 10px 0px;
}

.wineryLabel {
    margin: 20px 0px 5px 0px;
    color: $black-text;
    font-size: 16px;
}

.wineryInput {
    border: 1px solid $themePrimary!important;
    color: $themePrimary!important;
}

.countFilter {
    margin: 10px 0px;
}

.countLabel {
    margin: 20px 0px 5px 0px;
    color: $black-text;
    font-size: 16px;
}

.countOptions {
    display: flex;
    justify-content: flex-start;
}

.countOption {
    margin: 0px 10px 0px 0px;
    cursor: pointer;
    transition: all 300ms;
}

.pricesContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.lowerPrice {
    color: $themePrimary;
}

.upperPrice {
    color: $themePrimary;
}

.marketplaceCollection {
    margin: 100px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.marketplaceLabel {
    text-align: center;
    color: $black-text;
    font-size: 24px;
    font-weight: 600;
    width: 100%;
}

.nftCardsContainer {
    display: grid;
    margin: 30px 30px 30px 0px;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 20px;
}

.loadMoreButton {
    width: fit-content;
    cursor: pointer;
    padding: 10px 15px;
    margin-bottom: 30px;
    border-radius: 10px;
    background-color: $themePrimary--light--2;
    transition: all 300ms;
    &:hover {
        background-color: $themePrimary;
    }
}

.noNFT {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 600;
    color: $black-text;
}

.skeletonCard {
    border-radius: 10px !important;
    width: 300px;
}

.resetControl {
    margin-top: 20px;
    margin-bottom: 20px;
}

.resetButton {
    display: flex;
    padding: 7px;
    border-radius: 10px;
    justify-content: center;
    width: 100%;
    background-color: #9d3a85;
    color: #ffffff;
    transition: all 300ms;
    cursor: pointer;

    &:hover {
        background-color: $themePrimary;
    }
}